
Frontend/my-project/node_modules
Backend/.env
.vscode
Demo.mp4
Frontend/my-project/.env

Backend/DB/__pycache__
Backend/AI/__pycache__




Backend/.vscode
Backend/vnev
Backend/__pycache__
Backend/Temp.py
